html, body {
    background: rgba(246, 246, 246, 0.5);
    color: #222222;
    font-family: Helvetica Neue, Helvetica, sans-serif;
    font-size: 16px;
    /* height: 100%; */
    letter-spacing: 0;
    line-height: 24px;
    margin: 0;
    padding: 0;
}
  
a {
    display: flex;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

/* H E A D E R S  &  L A B E L S */

.h1 {
    color: #000000;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 0.005em;
    line-height: 40px;
    margin-bottom: 24px;
}

.about-text {
    font-size: 24px;
    line-height: 44px;
}

/* S P A C E R S */
.top-128 {
    margin-top: 128px;
}
.top-64 {
    margin-top: 64px;
}
.top-56 {
    margin-top: 56px;
}
.top-48 {
    margin-top: 48px;
}
.top-40 {
    margin-top: 40px;
}
.top-32 {
    margin-top: 32px;
}
.top-24 {
    margin-top: 24px;
}
.top-16 {
    margin-top: 16px;
}
.top-8 {
    margin-top: 8px;
}

.sides-16 {
    margin-left: 16px;
    margin-right: 16px;
}
.sides-8 {
    margin-left: 8px;
    margin-right: 8px;
}

.centered {
    display: flex;
    justify-content: center;
    width: 100%;
}

.break {
    flex-basis: 100%;
    height: 0;
  }

  .spacer {
    margin-top: 128px;
  }

  
/* H E A D E R  &  N A V I G A T I O N */

.header {
    background: rgba(255, 255, 255, 0.92);
    backdrop-filter: blur(24px);
    -webkit-backdrop-filter: blur(24px);
    border: 1px solid #E6E6E6;
    display: flex;
    height: 56px;
    position: fixed;
    width: 100%;
    z-index: 999;
}

.nav {
    display: flex;
    margin: 0 auto;
}

.nav-btn-active, .nav-btn-inactive {
    border-radius: 2px;
    flex-wrap: wrap;
    font-weight: bold;
    margin: 4px;
    padding: 12px 0;
    text-align: center;
    width: 106px;
}

.nav-btn-active {
    background: rgba(230, 230, 230, 0.5);
    color: #222222;
    cursor: default;
}

.nav-btn-inactive {
    color: #404040;
    transition: .02s;
    transition-timing-function: ease;
}

.nav-btn-inactive:hover {
    background:rgba(5, 122, 255, 0.08);
    color: #057AFF;
}

/* C O N T E N T  C O N T A I N E R S */

.hero {
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 648px;
    padding: 120px 16px 0 16px;
}

.content-container {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 648px;
    padding: 0 16px;
}

.image-wide {
    margin: 64px auto;
    max-width: 996px;
    padding: 0 16px;
}

.stripe {
    width: calc(100% - 200px); 
    background: #e6e6e6; 
    padding: 64px 24px 40px; 
    margin: 32px auto 0; 
    opacity: .9; 
    border-radius: 20px;
}

.project-preview {
    align-items: flex-start;
    background: #F6F6F6;
    box-shadow: inset 0px 0px 0px 1px #e6e6e6;
    border-radius: 6px;
    display: flex;
    padding: 6px;
    width: 100%;
    /* transition: box-shadow .1s; */
    transition: .08s;
    transition-timing-function: ease-out;
}
.project-preview:hover {
    align-items: flex-start;
    /* background: #FFFFFF; */
    /* box-shadow: inset 0px 0px 0px 1px #e6e6e6, 0px 1px 5px rgba(0, 0, 0, 0.12); */
    box-shadow: inset 0px 0px 0px 1px #e6e6e6, 0px 1px 5px rgba(0, 0, 0, 0.12);
    padding: 6px;
    /* transform: translate(0px, -1px); */
}
.project-preview:active {
    background: #FFFFFF;
}

.card-note {
    background-color: #ffffff;
    border-radius: 6px;
    box-shadow: inset 0px 0px 0px 1px #e6e6e6;
    color: #222222;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    padding: 24px;
    transition: .08s;
    transition-timing-function: ease;
}
.card-note:hover {
    box-shadow: inset 0px 0px 0px 1px #e6e6e6, 0px 1px 5px rgba(0, 0, 0, 0.12);
}
.card-note:active {
    box-shadow: inset 0px 0px 0px 1px #e6e6e6;
}
.card-note > .primary-btn {
    background: #057AFF;
    box-shadow: inset 0px 0px 0px 0px #057AFF;
    color: #ffffff;
}
.card-note > .primary-btn:hover {
    background: #026ae1;
    color: #ffffff;
}
.card-note:active > .primary-btn {
    background: #057AFF;
    color: #ffffff;
}
.card-note > .primary-btn .icon {
    filter: invert(100%) sepia(0%) saturate(4219%) hue-rotate(81deg) brightness(110%) contrast(87%);
}
.card-note > .primary-btn:hover .icon {
    filter: invert(100%) sepia(0%) saturate(4219%) hue-rotate(81deg) brightness(110%) contrast(87%);
}
.card-note:active > .primary-btn .icon {
    filter: invert(100%) sepia(0%) saturate(4219%) hue-rotate(81deg) brightness(110%) contrast(87%);
}
.card-note:hover > .dot {
    color: #035bc1;
}

.dot {
    color: #ababab;
    font-size: 20px; 
    line-height: 20px; 
    text-align: center; 
    width: 100%;
    transition: 1s;
    transition-timing-function: ease-out;
}

.card-prototype-container {
    display: flex;
    justify-content: space-between;
}
.card-prototype-columnns {
    width: 47%;
}
.card-prototype {
    flex-wrap: wrap;
    padding: 0 0 16px 0;
    width: 100%;
}
.prototype-cover {
    background-color: #c4c4c4;
    background-position: center;
    background-size: cover;
    border-radius: 6px 6px 0 0;
    height: 144px;
    width: 100%;
}
.prototype-casestudy {
    height: 360px;
}

/* F A N C Y B O X */

.fancybox-caption {
    background: none !important;
}

.fancybox-slide--iframe .fancybox-content {
    background: none !important;
    height: fit-content !important;
    max-height: 100%;
    aspect-ratio: 16/9;
}

/* T I M E L I N E */

.container-timeline {
    display: flex;
    margin-bottom: 8px;
    width: 100%;
}

.timeline-ruler {
    margin-right: 24px;
}
.ruler-badge {
    align-items: center;
    background: #f6f6f6;
    box-shadow: inset 0px 0px 0px 1px #e6e6e6;
    border-radius: 20px;
    display: flex;
    height: 40px;
    justify-content: center;
    width: 40px;
}
.ruler-border {
    background-color: #c4c4c4;
    border-radius: 1px;
    height: calc(100% - 48px);
    margin: 8px 19px 0 19px;
    width: 2px;
}

.timeline-work {
    width: 100%;
}
.work-header {
    display: flex;
    justify-content: space-between;
    padding: 8px 0;
}
.work-title {
    font-weight: bold;
}
.work-date {
    color: #404040;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: .03em;
    text-align: end;
}
.work-hero {
    background-color: #c4c4c4;
    background-position: center;
    background-size: cover;
    border-radius: 6px;
    flex: 0 1 584px;
    height: 200px;
    margin: 16px 0;
    width: 100%;
}
.work-subtitle-h1 {
    color: #404040;
    font-size: 12px;
    letter-spacing: 0px;
    line-height: 16px;
}
.work-subtitle-h2 {
    color: #404040;
    font-size: 10px;
    letter-spacing: 0px;
    line-height: 16px;
}

.work-thumbnails {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.thumbnails-vans {
    border-radius: 6px;
    box-shadow: 0px 0px 0px 1.3px #ffffff;
    width: 100%;
    height: 100%;
}
.thumbnails-vans:hover {
    box-shadow: 0px 0px 0px 1.3px #ffffff, 0px 2px 5px rgba(0, 0, 0, 0.12);
}
.vans-link {
    /* flex: 1 0 242px; */
    max-width: 47%;
}
.thumbnails-university {
    border-radius: 6px;
    box-shadow: 0px 0px 0px 1.3px #ffffff;
    width: 100%;
    height: 100%;
}
.thumbnails-university:hover {
    box-shadow: 0px 0px 0px 1.3px #ffffff, 0px 1px 1px rgba(0, 0, 0, 0.12);
}
.university-link {
    /* flex: 1 0 242px; */
    max-width: 31%;
}
.thumbnails-remesh {
    border-radius: 6px;
    box-shadow: 0px 0px 0px 1.3px #ffffff;
    width: 100%;
}
.thumbnails-remesht:hover {
    box-shadow: 0px 0px 0px 1.3px #ffffff, 0px 1px 1px rgba(0, 0, 0, 0.12);
}
.remesh-link {
    /* flex: 1 0 242px; */
    align-items: flex-start;
    max-width: 22%;
}


/* B U T T O N S */

.primary-btn {    
    background: #F6F6F6;
    box-shadow: inset 0px 0px 0px 1px #e6e6e6;
    border-radius: 20px;
    box-sizing: border-box;
    color: #404040;
    display: flex;
    font-size: 12px;
    font-weight: bold;
    justify-content: center;
    line-height: 16px;
    padding: 12px 32px;
    transition: .08s;
    transition-timing-function: ease-out;
}

.primary-btn:hover {
    background: #FFFFFF;
    box-shadow: inset 0px 0px 0px 1px #e6e6e6, 0px 1px 5px rgba(0, 0, 0, 0.12);
    color: #222222;
}

.big-btn {
    border-radius: 24px;
    color: #ffffff;
    flex-wrap: wrap;
    font-weight: bold;
    padding: 12px 0;
    text-align: center;
    width: 280px;
}
.spotify {
    background-color: #1DB954;
}
.spotify:hover {
    background-color: #1ED760;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.12);
}
.vimeo {
    background-color: #00ADEF;
}
.vimeo:hover {
    background-color: #0088CC;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.12);
}
  
/* I C O N S */

.icon-email {
    background-image: url(images/icons-email.svg);
}
.icon-linkedin {
    background-image: url(images/icons-linkedin.svg);
}
.icon-twitter {
    background-image: url(images/icons-twitter.svg);
}
.icon-instagram {
    background-image: url(images/icons-instagram.svg);
}
.icon-document {
    background-image: url(images/icons-document.svg);
}
.icon-school {
    background-image: url(images/icons-school.svg);
}
.icon-work {
    background-image: url(images/icons-work.svg);
}
.icon-next {
    background-image: url(images/icons-next.svg);
}
.icon-view {
    background-image: url(images/icons-view.svg);
}
.icon-information {
    background-image: url(images/icons-information.svg);
}

.icon {
    background-size: cover;
    display: flex;
    filter: invert(19%) sepia(0%) saturate(4219%) hue-rotate(81deg) brightness(110%) contrast(87%);
    height: 16px;
    margin-right: 8px;
    width: 16px;
    transition: .08s;
    transition-timing-function: ease;
  }

.primary-btn:hover .icon {
    filter: invert(10%) sepia(21%) saturate(4%) hue-rotate(18deg) brightness(105%) contrast(94%);
}
.primary-btn:hover .icon-instagram {
    filter: invert(42%) sepia(73%) saturate(2153%) hue-rotate(298deg) brightness(100%) contrast(93%);
}
.primary-btn:hover .icon-twitter {
    filter: invert(38%) sepia(98%) saturate(1404%) hue-rotate(181deg) brightness(102%) contrast(108%);
}
.primary-btn:hover .icon-linkedin {
    filter: invert(44%) sepia(69%) saturate(4894%) hue-rotate(204deg) brightness(109%) contrast(98%);
}
.primary-btn:hover .icon-email {
    /* filter: none; */
}
.primary-btn:hover .icon-blue {
    filter: invert(34%) sepia(95%) saturate(3284%) hue-rotate(202deg) brightness(103%) contrast(104%);
}


/* I M A G E S */

.avatar {
    border: 1px solid #E6E6E6;
    border-radius: 144px;
    margin: 0 auto;
    /* max-width: 216px; */
    max-width: 160px;
    /* max-width: 104px; */
}

/* A D D - O N S */

.system-note {
    background-color: #f6f6f6;
    border: 1px solid #E6E6E6;
    border-radius: 6px;
    color: #404040;
    cursor: default;
    display: flex;
    font-size: 12px;
    font-weight: bold;
    line-height: 16px;
    padding: 12px 16px;
}

.secondary-link {
    color: #606060;
    font-size: 12px;
    letter-spacing: 0px;
    line-height: 16px;
}

.secondary-link:hover {
    color: #000000;
    /* color: #222222; */
    /* color: #404040; */
    /* color: #057AFF; */
}

.text-hover-blue:hover {
    color: #057AFF;
}
  
/* M O B I L E */
@media (max-width: 648px) {
    .avatar {
        max-width: 104px;
    }
    .header {
        height: 48px;
    }
    .hero {
        padding: 80px 16px 0 16px;
    }
    .mobile-stretch {
        flex: 1;
    }
    .card-prototype-container {
        flex-wrap: wrap;
    }
    .card-prototype-columnns {
        width: 100%;
    }
    .prototype-cover {
        height: 216px;
    }
    .prototype-casestudy {
        height: 216px;
    }
    .thumbnails-remesh {
        border-radius: 2px;
    }
    .thumbnails-university {
        border-radius: 2px;
    }
    .thumbnails-vans {
        border-radius: 2px;
    }
    .contact {
        flex: 0 0 200px;
        flex-wrap: wrap;
        height: 184px;
        align-content: space-between;
        margin: 40px auto 0 auto;
    }
    .big-btn {
        width: 184px;
    }
    .nav-btn-active, .nav-btn-inactive, .big-btn {
        font-size: 12px;
        line-height: 16px;
    }
    .primary-btn {
        width: 100%;
    }
    .spacer {
        margin-top: 64px;
      }

      .stripe {
        width: calc(100% - 64px); 
        padding: 64px 16px 40px; 
        margin: 32px auto 0; 
    }
}/* E N D   M O B I L E */