header, footer {
    height: 100px;
}

main {
    height: 300px;
}

header {
    background: red;
}

main {
    display: flex;
}

section {
    background: green;
    flex-basis: 20%;
}

.middle {
    flex-basis: 60%;
    background-color: purple;
}

footer {
    background: yellow;
}