header, footer {
    height: 100px;
}

main {
    height: 300px;
}

header {
    background: red;
}

main {
    display: flex;
    flex-direction: row;
}

section {
    background: green;
    flex-basis: 70%;
}

aside {
    background: blue;
    flex-basis: 30%;
}

footer {
    background: yellow;
}